In [ ]:
from google.colab import drive
drive.mount("/content/drive")
HOME = 'drive/MyDrive'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader

import nltk
nltk.download('punkt')
import random
import pandas as pd
import numpy as np
import os

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [193]:
import os

df_ds9 = pd.DataFrame()

for filename in os.listdir("drive/MyDrive/Data/scripts_ds9"):
  with open(os.path.join("drive/MyDrive/Data/scripts_ds9", filename), 'r') as f: # open in readonly mode
    lines = []

    for line in f:
      lines.append(line)

    season = int(filename[1:3])
    ep_num = int(filename[4:6])
    ep_name = lines[0][:-1]

    del lines[0:3]

    df_temp = pd.DataFrame(lines,columns =['Line'])
    df_temp['Episode Name'] = ep_name
    df_temp['Season'] = season
    df_temp['Episode Number'] = ep_num

    #.append is not inplace!
    df_ds9 = df_ds9.append(df_temp, ignore_index=True)

df_ds9['Line'] = df_ds9['Line'].str.replace(r"\(.*\)","")
df_ds9['Line'] = df_ds9['Line'].str.replace(r"\[.*\]","")
df_ds9['Line'] = df_ds9['Line'].str.replace(r"\{.*\}","")
df_ds9['Line'] = df_ds9['Line'].str.replace(r"\{.*\]","")
df_ds9['Line'] = df_ds9['Line'].str.replace(r"\[.*\}"," ")
df_ds9['Line'] = df_ds9['Line'].str.replace("\n","")

df_ds9[ 'SpeechFlag' ] =  df_ds9['Line'].str.contains(":")

df_ds9['Character'] = df_ds9['Line'][df_ds9['SpeechFlag'] == True].str.split(':', expand=True)[0]
df_ds9['Speech'] = df_ds9['Line'][df_ds9['SpeechFlag'] == True].str.split(':', expand=True)[1]

df_ds9 = df_ds9[df_ds9['SpeechFlag']==True]

del df_ds9['Line']
del df_ds9['SpeechFlag']

In [194]:
for x in df_ds9['Character'].unique():
  if "{" in x or "(" in x or "[" in x or "}" in x or ")" in x or "]" in x:
    print(x)

DAX [OC
PEL [OC
(SISKO
) CAPTAIN
JAKE [on monitor
(BASHIR
QUARK [on viewscreen
DAMAR [on viewscreen

In [195]:
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="DAX [OC",  value ="DAX")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="PEL [OC",  value ="PEL")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="(SISKO",  value ="SISKO")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace =") CAPTAIN",  value ="CAPTAIN")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="JAKE [on monitor",  value ="JAKE")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="(BASHIR",  value ="BASHIR")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="QUARK [on viewscreen",  value ="QUARK")
df_ds9['Character'] = df_ds9['Character'].replace(to_replace ="DAMAR [on viewscreen",  value ="DAMAR")

In [196]:
df_ds9 = df_ds9.reset_index()

In [198]:
del df_ds9['index']
df_ds9

                  Episode Name  ...                                             Speech
0           Strange Bedfellows  ...   This is intolerable! They have us caged up li...
1           Strange Bedfellows  ...                                           Stop it!
2           Strange Bedfellows  ...                                   We meet at last.
3           Strange Bedfellows  ...
4           Strange Bedfellows  ...   Gifts? How thoughtful. You should be honoured...
...                        ...  ...                                                ...
67162  Ties of Blood and Water  ...   Not at all. It takes a great man to admit he'...
67163  Ties of Blood and Water  ...   That's very moving, except for one small prob...
67164  Ties of Blood and Water  ...                 As you said, it's a small problem.
67165  Ties of Blood and Water  ...   I would like his body transferred to my ship....
67166  Ties of Blood and Water  ...   I'm afraid that's going to be impossible. Leg...

[67167 rows x 5 columns]

In [204]:
df_ds9.to_csv("/content/drive/MyDrive/DS9.csv")

In [205]:
!ls drive/MyDrive

'Colab Notebooks'     Data	      DS9.csv	    TheRealLoc.xlsx
 CPOINT_FINETUNE-75   data_tutorial   saved_dicts